#Pesquisar{
    height: 30px;
    background-color: transparent;
    border-radius: 0px;
    border: none;
    border-top:  1px solid lightgrey;
    border-bottom:  1px solid lightgrey;
}
#perfil{
    margin: 0px 10px;
}
input::placeholder{
    background-color: white;
}
.favoritosDescricao{
    margin: 0px auto;
    width: 50%;
    height: auto;
    color: white;
    border: 2px solid rgb(209, 6, 6);
    padding: 20px;
    display: none;
}
.centro{
    display: flex;
    justify-content: center;
}
.butaoLer{
    width: 20%;
    height: 30px;
    background-color: black;
    border: 2px solid rgb(209, 6, 6);
    color: white;
    border-radius: 5px;
}
.butaoLer:hover{
    background-color: rgb(209, 6, 6);
    color: black;
    border: 2px solid white;
}
#fotoPerfil{
    width: 300px;
    height: 300px;
    background-image: url(imagens/ada.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    border-radius: 100%;
}
.info{
    display: flex;
    height: auto;
}
.Sgd{
    width: 120px;
    background-color: transparent;
    color: white;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
}
.Sgd2{
    width: 120px;
    background-color: transparent;
    color: white;
    border-bottom: 0px;
    border-top: 0px;
    border-right: 0px;
}
#nome{
    color: white;
}
#comentarioDeSe{
    width: 300px;
    height: 150px;
    background-color: #212529;
    color: white;
    border: none;
    margin: 10px 0px;
}
#infoperfil{
    display: flex;
    flex-direction: column;
}
#favoritos{
    width: 300px;
    margin: 10px 0px;
    border: 1px solid lightgray;
    background-color: transparent;
    color: white;
    border-radius: 5px;
}
#assitiuRecente{
    width: 150px;
    height: 250px;
    background-color: aliceblue;
    background-image: url(imagens/animes/animes-rm/spy\ x\ famlily.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.capitulos{
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: 1px solid lightgray;
    color: lightgray;
}
.caixaCapitulos{
    display: none;
    margin: 0px 70px;
}
#menuopcoes{
    width: 100%;
    display: flex;
}
#menu{
    width: 100%;
    height: 40px;
    cursor: pointer;
    display: none;
}
#horizontal{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.carrousel{
    display: flex;
    align-self: center;
    justify-content: center;
}
.Suika{
    display: flex;
    justify-content: space-around;
    align-items: center;
}