*{
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#paginalogin{
    width: 100%;
    height: 100vh;
    background-color: #212529;
}
header{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.logo{
    background-image: url(imagens/Tomato_luffy-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
}
.logo:hover{
    padding: 5px;
}
main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}
#titulo{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    background-color: rgb(199, 43, 43);
    border-radius: 2px;
    border: solid rgb(199, 43, 43);
    width: 30%;
    height: 30px;
    margin: 10px 0px;
}
::placeholder{
    font-size: 15px;
    color: black;
}
input:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1px;
}
#ladinho{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#fazerlogin{
    width: 180px;
    height: auto;
    display: flex;
    align-items: center;
}
button{
    width: 100%;
    height: 30px;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    border: rgb(199, 43, 43);
    font-size: 15px;
}
button:hover{
    padding: 1px;
}
#penta{
    width: 180px;
    height: auto;
    display: flex;
    align-items: center;    
}
#subpenta{
    width: 100%;
    height: 30px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 43, 43);
}
#subpenta:hover{
    padding: 1px;
}
a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
a:hover{
    color: black;
}
#voltar{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#jogadeladinho{
    width: 30%;
    height: 30px;
    background-color: rgb(199, 43, 43);
    display: flex;
    align-items: center;
    justify-content: center;
}
#jogadeladinho:hover{
    padding: 1px;
}

