@media screen and (max-width : 650px){
    .logo{
        width: 60%;
    }
}
@media screen and (max-width: 950px){
    .caixasTextos{
        width: 380px;
    }
    #jogadeladinho{
        width: 380px;
    }
    .finalizar{
        width: 370px;
    }
}
@media screen and (max-width: 1235px){
    #ladinho{
        height: 80px;
        flex-direction: column;
        margin: 10px 0;
    }
}
@media screen and (max-width: 900px){
    #menu{
        display: block;
    }
    #menuopcoes{
        display: none;
    }
    #perfil{
        display: none;
    }
}

@media screen and (max-width: 900px){ 
    #comeco{
        align-items: flex-end;
    }    
} 
@media screen and (min-width: 900px){ 
    #menuopcoes{
        display: flex;
    }    
} 
@media screen and (max-width: 900px){
    .carrousel{
        display: block;
    }
    #pagina{
        height: auto;
    }
    .Suika{
        display: block;
    }
}
